.btn__back{
  width: 250px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: #262626;
  margin-left: 17px;
  margin-right: 17px;
  cursor: pointer;
  transition: 0.5s;
}
.btn__back:hover{
  transition: 0.5s;
  background-color: #999999;
}
.nav{
  width: 100%;
}