.btn{
    width: 75px;
    height: 75px;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
    font-size: 45px;
    color: #262626;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: #999999;
    transition: 0.5s;
}